In [2]:
from sklearn.cluster import AffinityPropagation
import numpy as np
import pandas as pd

In [30]:
df = pd.read_csv('CLEAN_DF.csv', index_col=['Unnamed: 0'], encoding='utf-8', delimiter=',')
df.isna().sum()

Metro station       0
lon                 0
lat                 0
Number of floors    0
type                0
Number of rooms     0
id                  0
Area                0
floor               0
Price               0
dtype: int64

In [31]:
df = df.reset_index().drop(['index'], axis=1)
df

,Metro station,lon,lat,Number of floors,type,Number of rooms,id,Area,floor,Price
0,Авиамоторная,37.741785,55.736599,45,monolith,0.0,298892882,22.0,33,11266065.0
1,Авиамоторная,37.735153,55.754122,5,monolith,0.0,301280480,21.4,4,6990000.0
2,Авиамоторная,37.743276,55.736854,37,monolith,1.0,296502502,35.0,2,13215071.0
3,Авиамоторная,37.700595,55.749435,28,monolith,1.0,301175786,34.0,6,18990000.0
4,Авиамоторная,37.696511,55.753244,11,monolith,1.0,301392165,38.9,3,12436330.0
...,...,...,...,...,...,...,...,...,...,...
29913,Курьяново,37.726294,55.658999,33,monolith,1.0,299448640,32.4,8,9798667.0
29914,Курьяново,37.727033,55.658474,17,monolith,3.0,299448952,73.8,13,19115233.0
29915,Курьяново,37.726294,55.658999,33,monolith,2.0,299448711,46.1,18,13408830.0
29916,Курьяново,37.726294,55.658999,33,monolith,2.0,299448757,48.7,3,13334644.0
29917,Курьяново,37.726294,55.658999,33,monolith,2.0,299448896,58.7,33,15520514.0

In [34]:
metrostation = []
mtypes = []
offertype = []
for i in df['Metro station']: metrostation.append(i) if i not in metrostation else i
for i in df['type']: mtypes.append(i) if i not in mtypes else i
mdict = {}
mtypes = {}

print(f"{metrostation}\n{mtypes}\n")

['Авиамоторная', 'Автозаводская', 'Академическая', 'Александровский сад', 'Кокошкино', 'Алексеевская', 'Алтуфьево', 'Аннино', 'Южная', 'Спортивная', 'Арбатская', 'Аэропорт', 'Бабушкинская', 'Багратионовская', 'Баррикадная', 'Бауманская', 'Беговая', 'Белорусская', 'Беляево', 'Бибирево', 'Библиотека им. Ленина', 'Новоясеневская', 'Боровицкая', 'Полянка', 'Ботанический сад', 'Пионерская', 'Солнечная', 'Братиславская', 'Угрешская', 'Коммунарка', 'Бульвар Адмирала Ушакова', 'Бульвар Дмитрия Донского', 'Крымская', 'Щербинка', 'Бунинская аллея', 'Варшавская', 'ВДНХ', 'Владыкино', 'Водный стадион', 'Войковская', 'Волгоградский проспект', 'Волжская', 'Воробьёвы горы', 'Выхино', 'Нижегородская', 'Москва-Сити', 'Динамо', 'Дмитровская', 'Добрынинская', 'Домодедовская', 'Ольховая', 'Дубровка', 'Измайловская', 'Калужская', 'Кантемировская', 'Каховская', 'Каширская', 'Киевская', 'Китай-город', 'Кожуховская', 'Коломенская', 'Комсомольская', 'Коньково', 'Красногвардейская', 'Красносельская', 'Красные ворота', 'Крестьянская застава', 'Павелецкая', 'Кропоткинская', 'Крылатское', 'Кузнецкий мост', 'Кузьминки', 'Кунцевская', 'Курская', 'Кутузовская', 'Фили', 'Ленинский проспект', 'Лубянка', 'Люблино', 'Марксистская', 'Марьино', 'Маяковская', 'Медведково', 'Деловой центр', 'Менделеевская', 'Молодёжная', 'Нагатинская', 'Нагорная', 'Нахимовский проспект', 'Новогиреево', 'Новокузнецкая', 'Новослободская', 'Новые Черёмушки', 'Октябрьская', 'Октябрьское поле', 'Зорге', 'Орехово', 'Отрадное', 'Свиблово', 'Охотный ряд', 'Парк Культуры', 'Парк Победы', 'Партизанская', 'Первомайская', 'Перово', 'Петровско-Разумовская', 'Печатники', 'Планерная', 'Сходненская', 'Площадь Ильича', 'Площадь Революции', 'Полежаевская', 'Пражская', 'Преображенская площадь', 'Пролетарская', 'Проспект Вернадского', 'Проспект Мира', 'Профсоюзная', 'Пушкинская', 'Речной вокзал', 'Рижская', 'Римская', 'Рязанский проспект', 'Савёловская', 'Севастопольская', 'Семёновская', 'Серпуховская', 'Смоленская', 'Сокол', 'Сокольники', 'Сретенский бульвар', 'Студенческая', 'Сухаревская', 'Трикотажная', 'Таганская', 'Тверская', 'Театральная', 'Текстильщики', 'Тёплый Стан', 'Троицк', 'Тимирязевская', 'Третьяковская', 'Трубная', 'Тульская', 'ЗИЛ', 'Тургеневская', 'Тушинская', 'Улица 1905 года', 'Улица Академика Янгеля', 'Улица Горчакова', 'Бульвар Рокоссовского', 'Улица Скобелевская', 'Улица Старокачаловская', 'Университет', 'Филёвский парк', 'Фрунзенская', 'Царицыно', 'Цветной бульвар', 'Черкизовская', 'Чертановская', 'Чеховская', 'Чистые пруды', 'Чкаловская', 'Шаболовская', 'Шоссе Энтузиастов', 'Щёлковская', 'Щукинская', 'Электрозаводская', 'Юго-Западная', 'Ясенево', 'Краснопресненская', 'Железнодорожная', 'Балтийская', 'Ольгино', 'Удельная', 'Достоевская', 'Строгино', 'Павшино', 'Славянский бульвар', 'Звенигородская', 'Мякинино', 'Волоколамская', 'Митино', 'Марьина Роща', 'Шипиловская', 'Зябликово', 'Борисово', 'Новокосино', 'Пятницкое шоссе', 'Алма-Атинская', 'Кедровая', 'Ипподром', 'Победа', 'Жулебино', 'Лермонтовский проспект', 'Лесопарковая', 'Битцевский парк', 'Спартак', 'Улица Сергея Эйзенштейна', 'Выставочный центр', 'Улица Академика Королёва', 'Телецентр', 'Улица Милашенкова', 'Тропарёво', 'Котельники', 'Технопарк', 'Румянцево', 'Фонвизинская', 'Бутырская', 'Хорошёво', 'Панфиловская', 'Стрешнево', 'Коптево', 'Лихоборы', 'Окружная', 'Ростокино', 'Белокаменная', 'Локомотив', 'Измайлово', 'Соколиная гора', 'Андроновка', 'Новохохловская', 'Верхние котлы', 'Площадь Гагарина', 'Лужники', 'Шелепиха', 'Минская', 'Ломоносовский проспект', 'Раменки', 'Ховрино', 'Петровский Парк', 'Хорошёвская', 'ЦСКА', 'Верхние Лихоборы', 'Селигерская', 'Мичуринский проспект', 'Озёрная', 'Говорово', 'Солнцево', 'Боровское шоссе', 'Новопеределкино', 'Рассказовка', 'Беломорская', 'Косино', 'Улица Дмитриевского', 'Лухмановская', 'Некрасовка', 'Юго-Восточная', 'Окская', 'Стахановская', 'Лефортово', 'Шереметьевская', 'Кленовый бульвар', 'Нагатинский Затон', 'Зюзино', 'Воронцовская', 'Новаторская', 'Аминьевская', 'Давыдково', 'Мнёвники', 'Терехово ', 'Карамышевская', 'Яхромская', 'Лианозово', 'Рабочий посёлок', 'Сетунь', 'Немчиновка', 'Сколково', 'Баковка', 'Одинцово', 'Лобня', 'Хлебниково', 'Водники', 'Долгопрудная', 'Новодачная', 'Марк', 'Бескудниково', 'Дегунино', 'Нахабино', 'Опалиха', 'Аникеевка', 'Красногорская', 'Пенягино', 'Красный Балтиец', 'Гражданская', 'Москва-Товарная', 'Калитники', 'Депо', 'Перерва', 'Москворечье', 'Покровское', 'Красный Строитель', 'Битца', 'Силикатная', 'Подольск', 'Остафьево', 'Курьяново', 'Народное Ополчение', 'Площадь трёх вокзалов', 'Зеленоград — Крюково', 'Фирсановская', 'Сходня', 'Подрезково', 'Новоподрезково', 'Молжаниново', 'Химки', 'Левобережная', 'Грачёвская', 'Моссельмаш', 'Останкино', 'Сортировочная', 'Плющево', 'Вешняки', 'Ухтомская', 'Люберцы', 'Панки', 'Томилино', 'Красково', 'Быково', 'Ильинская', 'Отдых', 'Кратово', 'Есенинская', 'Фабричная', 'Апрелевка', 'Раменское', 'Санино', 'Лесной Городок', 'Внуково', 'Мичуринец', 'Переделкино', 'Мещерская', 'Очаково', 'Матвеевская', 'Поклонная', 'Серп и Молот', 'Чухлинка', 'Кусково', 'Реутов', 'Никольское', 'Салтыковская', 'Кучино', 'Физтех', 'Аэропорт Внуково', 'Пыхтино', 'Потапово', 'Гольяново', 'Вавиловская', 'Университет Дружбы Народов', 'Генерала Тюленева', 'Бульвар Генерала Карбышева', 'Липовая Роща', 'Бирюлёво', 'Каспийская', 'Остров мечты', 'Липецкая', 'Кавказский бульвар']
['monolith', 'brick', 'block', 'panel', 'monolithBrick', 'stalin', 'gasSilicateBlock', 'old']

In [32]:
AP = AffinityPropagation(damping=0.9, random_state=17).fit(df)
AP

ValueError: could not convert string to float: 'Авиамоторная'

In [ ]:
l = []
X = AP.labels_
for i in X:
    if i not in l:
        l.append(i)
print(min(l), max(l), '\n', l, '\n', sorted(l))

In [19]:
columns=['Metro station', 'lon', 'lat', 'Number of floors', 'type', 'Kitchen area', 'Number of rooms', 'id', 'Area', 'floor', 'Living area', 'Price']
dfc = pd.DataFrame(columns=columns)
dfc

Empty DataFrame
Columns: [Metro station, lon, lat, Number of floors, type, Kitchen area, Number of rooms, id, Area, floor, Living area, Price]
Index: []

In [39]:
for i in range(df.shape[0]):
    a = np.array(df.iloc[i])
    if dfc.iloc[i] == df.any():
        print(i)

IndexError: single positional indexer is out-of-bounds

In [29]:
df.iloc[[24]]

,Metro station,lon,lat,Number of floors,type,Kitchen area,Number of rooms,id,Area,floor,Living area,Price
24,Авиамоторная,37.744617,55.736848,29,monolith,24.4,4.0,296502252,91.1,26,46.1,32104844.0

In [30]:
dfc

Empty DataFrame
Columns: [Metro station, lon, lat, Number of floors, type, Kitchen area, Number of rooms, id, Area, floor, Living area, Price]
Index: []

In [36]:
a = np.array(df.iloc[1])

array(['Авиамоторная', 37.735153, 55.754122, 5, 'monolith', 3.0, nan,
       301280480, 21.4, 4, 18.0, 6990000.0], dtype=object)