In [1]:
from sklearn.cluster import AffinityPropagation
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('CLEAN_DF.csv', index_col=['Unnamed: 0'], encoding='utf-8', delimiter=',')
df.isna().sum()

Metro station       0
lon                 0
lat                 0
Number of floors    0
type                0
Number of rooms     0
id                  0
Area                0
floor               0
Price               0
dtype: int64

In [3]:
df = df.reset_index().drop(['index'], axis=1)
df

,Metro station,lon,lat,Number of floors,type,Number of rooms,id,Area,floor,Price
0,Авиамоторная,37.741785,55.736599,45,monolith,0.0,298892882,22.0,33,11266065.0
1,Авиамоторная,37.735153,55.754122,5,monolith,0.0,301280480,21.4,4,6990000.0
2,Авиамоторная,37.743276,55.736854,37,monolith,1.0,296502502,35.0,2,13215071.0
3,Авиамоторная,37.700595,55.749435,28,monolith,1.0,301175786,34.0,6,18990000.0
4,Авиамоторная,37.696511,55.753244,11,monolith,1.0,301392165,38.9,3,12436330.0
...,...,...,...,...,...,...,...,...,...,...
29913,Курьяново,37.726294,55.658999,33,monolith,1.0,299448640,32.4,8,9798667.0
29914,Курьяново,37.727033,55.658474,17,monolith,3.0,299448952,73.8,13,19115233.0
29915,Курьяново,37.726294,55.658999,33,monolith,2.0,299448711,46.1,18,13408830.0
29916,Курьяново,37.726294,55.658999,33,monolith,2.0,299448757,48.7,3,13334644.0
29917,Курьяново,37.726294,55.658999,33,monolith,2.0,299448896,58.7,33,15520514.0

In [4]:
df

,Metro station,lon,lat,Number of floors,type,Number of rooms,id,Area,floor,Price
0,Авиамоторная,37.741785,55.736599,45,monolith,0.0,298892882,22.0,33,11266065.0
1,Авиамоторная,37.735153,55.754122,5,monolith,0.0,301280480,21.4,4,6990000.0
2,Авиамоторная,37.743276,55.736854,37,monolith,1.0,296502502,35.0,2,13215071.0
3,Авиамоторная,37.700595,55.749435,28,monolith,1.0,301175786,34.0,6,18990000.0
4,Авиамоторная,37.696511,55.753244,11,monolith,1.0,301392165,38.9,3,12436330.0
...,...,...,...,...,...,...,...,...,...,...
29913,Курьяново,37.726294,55.658999,33,monolith,1.0,299448640,32.4,8,9798667.0
29914,Курьяново,37.727033,55.658474,17,monolith,3.0,299448952,73.8,13,19115233.0
29915,Курьяново,37.726294,55.658999,33,monolith,2.0,299448711,46.1,18,13408830.0
29916,Курьяново,37.726294,55.658999,33,monolith,2.0,299448757,48.7,3,13334644.0
29917,Курьяново,37.726294,55.658999,33,monolith,2.0,299448896,58.7,33,15520514.0

In [19]:
metrostation = []
mtypes = []
offertype = []
for i in df['Metro station']: metrostation.append(i) if i not in metrostation else i
for i in df['type']: mtypes.append(i) if i not in mtypes else i
mdict = {}
mdtypes = {}
for i in range(len(metrostation)): df = df.replace(metrostation[i], i)
for i in range(len(mtypes)): df = df.replace(mtypes[i], i)

/var/folders/mz/c85xwc6170v72j1f_tsm0bkh0000gn/T/ipykernel_90053/558063738.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  for i in range(len(mtypes)): df = df.replace(mtypes[i], i)

In [18]:
df

,Metro station,lon,lat,Number of floors,type,Number of rooms,id,Area,floor,Price
0,0,37.741785,55.736599,45,monolith,0.0,298892882,22.0,33,11266065.0
1,0,37.735153,55.754122,5,monolith,0.0,301280480,21.4,4,6990000.0
2,0,37.743276,55.736854,37,monolith,1.0,296502502,35.0,2,13215071.0
3,0,37.700595,55.749435,28,monolith,1.0,301175786,34.0,6,18990000.0
4,0,37.696511,55.753244,11,monolith,1.0,301392165,38.9,3,12436330.0
...,...,...,...,...,...,...,...,...,...,...
29913,296,37.726294,55.658999,33,monolith,1.0,299448640,32.4,8,9798667.0
29914,296,37.727033,55.658474,17,monolith,3.0,299448952,73.8,13,19115233.0
29915,296,37.726294,55.658999,33,monolith,2.0,299448711,46.1,18,13408830.0
29916,296,37.726294,55.658999,33,monolith,2.0,299448757,48.7,3,13334644.0
29917,296,37.726294,55.658999,33,monolith,2.0,299448896,58.7,33,15520514.0

In [20]:
AP = AffinityPropagation(damping=0.9, random_state=17).fit(df)
AP

In [ ]:
l = []
X = AP.labels_
for i in X:
    if i not in l:
        l.append(i)
print(min(l), max(l), '\n', l, '\n', sorted(l))

In [19]:
columns=['Metro station', 'lon', 'lat', 'Number of floors', 'type', 'Kitchen area', 'Number of rooms', 'id', 'Area', 'floor', 'Living area', 'Price']
dfc = pd.DataFrame(columns=columns)
dfc

Empty DataFrame
Columns: [Metro station, lon, lat, Number of floors, type, Kitchen area, Number of rooms, id, Area, floor, Living area, Price]
Index: []

In [39]:
for i in range(df.shape[0]):
    a = np.array(df.iloc[i])
    if dfc.iloc[i] == df.any():
        print(i)

IndexError: single positional indexer is out-of-bounds

In [29]:
df.iloc[[24]]

,Metro station,lon,lat,Number of floors,type,Kitchen area,Number of rooms,id,Area,floor,Living area,Price
24,Авиамоторная,37.744617,55.736848,29,monolith,24.4,4.0,296502252,91.1,26,46.1,32104844.0

In [30]:
dfc

Empty DataFrame
Columns: [Metro station, lon, lat, Number of floors, type, Kitchen area, Number of rooms, id, Area, floor, Living area, Price]
Index: []

In [36]:
a = np.array(df.iloc[1])

array(['Авиамоторная', 37.735153, 55.754122, 5, 'monolith', 3.0, nan,
       301280480, 21.4, 4, 18.0, 6990000.0], dtype=object)

In [12]:
x = [1, 2, 3]
y = ['i', '2', '3']
a = pd.DataFrame([x, y])
a
for i in range(3):
    a = a.replace(i, 'ioo')

In [13]:
a

     0    1  2
0  ioo  ioo  3
1    i    2  3