In [1]:
import sqlite3
import pandas as pd

In [9]:
df = pd.DataFrame(pd.read_excel("databasefiles/metro_distances.xlsx"))
#Подключаемся к бдшке
con = sqlite3.connect('databasefiles/metro_distances_db.db')
#Создаём курсор
cur = con.cursor()
#Создаём таблицу и столбцы
cur.execute('''
CREATE TABLE IF NOT EXISTS distances (
id INTEGER PRIMARY KEY,
metro_station TEXT NOT NULL,
vnukovo REAl NOT NULL,
domodedovo REAl NOT NULL,
jukovskiy REAl NOT NULL,
sheremetirvo REAl NOT NULL,
red_ploshad REAl NOT NULL
)
''')
#Заполняем столбцы
for i in range(df.shape[0]):
  cur.execute('''INSERT INTO distances (metro_station, vnukovo, domodedovo, jukovskiy, sheremetirvo, red_ploshad) VALUES (?, ?, ?, ?, ?, ?)''',
   (df['Metro station'][i], df[' Расстояние до Внуково'][i], df[' Расстояние до Домодедово'][i],
    df[' Расстояние до Жуковский'][i], df[' Расстояние до Шереметьево'][i], df['Расстояние до Красной площади'][i]))
#Заносим таблицу в переменную
cur.execute('SELECT metro_station, vnukovo FROM distances WHERE vnukovo < ?', (5,))
results = cur.fetchall()
#Сохраняем и выходим
con.commit()
con.close()

In [12]:
for row in results:
    print(*row)

  Аэропорт Внуково 0.0
  Рассказовка 4.162279649714224
  Внуково 0.6745271598669104
  Пыхтино 1.926265077083945
 Рассказовка 4.162279649714224
 Пыхтино 1.926265077083945
 Внуково 0.6745271598669104